<div class="container-formulario">
    <h2>Gestión de Eventos</h2>
    <form>
      <div class="mb-3">
        <label for="nombreEvento" class="form-label">Nombre del Evento</label>
        <input type="text" class="form-control" id="nombreEvento" placeholder="Ingresa el nombre del evento" required>
      </div>
      <div class="mb-3">
        <label for="fechaEvento" class="form-label">Fecha del Evento</label>
        <input type="date" class="form-control" id="fechaEvento" required>
      </div>
      <div class="mb-3">
        <label for="descripcionEvento" class="form-label">Descripción</label>
        <textarea class="form-control" id="descripcionEvento" rows="3" placeholder="Escribe una breve descripción" required></textarea>
      </div>
      <button type="submit" class="btn btn-formulario btn-block">Guardar</button>
      <button type="reset" class="btn btn-formulario btn-block">Limpiar</button>
    </form>
  </div>

