<div class="container container-formulario mt-4">
  <h2>Editar Evento</h2>
  <form (ngSubmit)="guardarCambios()">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre del Evento</label>
      <input type="text" class="form-control" id="nombre" [(ngModel)]="evento.nombre" name="nombre" required
      />
    </div>
    <div class="mb-3">
      <label for="fecha" class="form-label">Fecha del Evento</label>
      <input type="date" class="form-control" id="fecha" [(ngModel)]="evento.fecha" name="fecha" required />
    </div>
    <button type="submit" class="btn btn-formulario btn-block">Guardar Cambios</button>
  </form>
</div>


