<div class="container container-formulario mt-4">
  <h2>Editar Evento</h2>
  <form (ngSubmit)="guardarCambios()">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre del Evento</label>
      <input [(ngModel)]="evento.nombre" type="text" class="form-control" id="nombre"  name="nombre" required
      />
    </div>
    <div class="mb-3">
      <label for="fecha" class="form-label">Fecha del Evento</label>
      <input [(ngModel)]="evento.fecha" type="date" class="form-control" id="fecha"  name="fecha" required />
    </div>
    <div class="mb-3">
      <label for="descripcion" class="form-label">Descripción</label>
      <textarea [(ngModel)]="evento.descripcion" class="form-control" id="descripcion"  name="descripcion" required></textarea>
    </div>
    <button type="button" class="btn btn-formulario btn-block" (click)="guardarCambios()">Guardar Cambios</button>

  </form>
</div>
