  <div class="container-login">
    <div class="cuadro-login">
      <h1 class="titulo">Iniciar Sesión</h1>
      <form (ngSubmit)="Login()">
        <div>
          <label  for="email" class="form-label">Correo Electrónico</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" placeholder="Ingresa tu correo" required/>
        </div>
        <div >
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" placeholder="Ingresa tu contraseña" required />
        </div>
        <br>
        <button type="submit" class="btn-login">Iniciar Sesión</button>
      </form>
    </div>
  </div>