/* You can add global styles to this file, and also import other style files */

.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('imagenes/evento3.jpg') no-repeat center center; 
  background-size: cover;
}

.cuadro-login {
  padding: 5rem;
  border-radius: 10px;
  width: auto;
  background: transparent;
  border: 3px solid rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 6px rgba(211, 39, 39, 0.1);
  color: white;
}
.cuadro-login h1{
  font-size: 36px;
  text-align: center;
  text-shadow: 2px 2px black;
}

.btn-login {
  background-color: #1bd8f5;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.75rem 1.5rem;
  transition: background-color 0.3s ease-in-out;
}
.btn-login:hover {
  background-color: #005f80;
}


body  {
background: url('imagenes/evento5.jpg') no-repeat center center;
background-size: cover;
font-family: 'Times New Roman', Times, serif;
line-height: 1.6;

}
.container-tabla {
  max-width: 1000px ;
  margin: 2rem auto;
  padding: 3rem;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  background: transparent;
  border: 3px solid rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.container-tabla h2{
  font-size: 36px;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px black;}
.table {
  border: none;}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #ffffff;}
.table-hover tbody tr:hover {
  background-color: #c8dbe3; 
}
.table-dark th {
  background-color: #68d30a;
  color: white;
  text-align: center; 
}
.btn-editar {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-editar:hover {
  background-color: #45a049;
}
.btn-eliminar {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-eliminar:hover {
  background-color: #e53935;
}


.container-formulario {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 10px;
  background: transparent;
  border: 3px solid rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.container-formulario h2{
  font-size: 36px;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px black;
}

.form-label{
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  
}
.form-control {
  border-radius: 5px; 
  border: 1px solid #ccc; 
}

.btn-formulario {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.btn-formulario:hover {
  background-color: #0056b3;
  color: #ffffff;
}